<section class="topArea">
    <img src="img/topArea/topArea_notice.jpg">
    <div class="inner_topArea w1510">
        <h2>공지사항 <span>Notice Board</span></h2>
    </div>
</section>
<section class="topArea_tit">
    <div class="w1510">
        <div class="topArea_txt">
            <h3>공지</h3>
            <p>펭귄클래식코리아의 다양한 소식을 만나보세요.</p>
        </div>
    </div>
</section>
<article class="noticeCon">
    <div class="noticeCon_wrap w1280">
        <div class="inner_notiCon">
            <aside class="notiCon_toptxt">
                <p class="f_medium"><%= row.title %></p>
                <dl class="notiCon_info f_regular">
                    <dt>작성자</dt>
                    <dd><%= row.writer %></dd>
                    <dt>등록일</dt>
                    <dd><%= row.date %></dd>
                    <dt>조회수</dt>
                    <dd>5</dd>
                </dl>
            </aside>
            <div class="notiCon_maintxt">
                <p class="f_regular"><pre><%= row.cont %></pre></p>
            </div>
        </div>
        <div class="prevNext_list w1280">
            <table class="prevNextT">
                <colgroup>
                    <col style="min-width: 150px;">
                    <col style="width: auto;">
                </colgroup>
                <tbody>
                    <tr>
                        <td>
                            <p class="f_regular">이전글</p>
                        </td>
                        <td class="notiCon_label">
                            <a href="" class="f_regular">
                                이전글이 없습니다.이전글이 없습니다.이전글이 없습니다.이전글이 없습니다.
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="f_regular">다음글</p>
                        </td>
                        <td class="notiCon_label">
                            <a href="" class="f_regular">
                                다음글이 없습니다.
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="notiW_btn_wrap btnWrap notiConBtn">
            <input type="submit" value="수정" class="btnClick" onclick="location.href='/updates?id=<%= row.id %>'">
            <input type="button" value="목록" class="notiW_btn" onclick="javascript:location.href='/noticeList'">
            <input type="submit" value="삭제" class="btnClick btnD" onclick="javascript:location.href='/deletNoti?id=<%= row.id %>'">
        </div>
    </div>
</article>